{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for category in show_my_tasks %}
                        <tr>
                            <td>{{ category.name }}</td>
                            <td>{{ category.start_date }}</td>
                            <td>{{ category.due_date }}</td>
                            <td>{{ category.is_completed|yesno:"yeah,no" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
