{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            {% comment %} <p> <a href="{% url "edit_todo" todo_list.id %}"> Edit </a></p>
            <p> <a href="{% url "delete_todo" todo_list.id %}"> Delete </a></p> {% endcomment %}
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if show_project.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for list in show_project.tasks.all %}
                        <tr>
                            {% comment %} <td> {{forloop.counter}}</td> {% endcomment %}
                            <td>{{ list.name }}</td>
                            <td>{{ list.assignee }}</td>
                            <td>{{ list.start_date }}</td>
                            <td>{{ list.due_date }}</td>
                            <td>{{ list.is_completed |yesno:"yeah,no" }}</td>
                            {% comment %} <td><a href="{% url 'todo_item_update' item.id %}">{{item.task}}</a></td> {% endcomment %}
                            {% comment %} <td>{{item.due_date|date:"M d, Y" }}</td> {% endcomment %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
